:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-white-opacity70: rgba(255, 255, 255, 0.7);
  --basic-yellow: #F7E296;
  --basic-yellow-for-plus: rgba(0, 0, 0, 0.3);
  --basic-dark-yellow: #F0C52E;
  --basic-grey: #E5E5E5;
  --basic-dark-grey-background: #DCDCDC;
  --basic-grey-pagination: #EBEBEB;

  --special-black-footer: #363636;
  --special-yellow-footer: #FFC600;
  --special-grey-popup: #F2F2F2;
  --special-pink-invalid: #F6DADA;
  --special-grey-pages: #EBEBEB;
  --special-grey-backforward: #D9D9D9;
  --special-green-scale: #91C92F;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff") format("woff"),
    url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff") format("woff"),
    url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open-Sans";
  src:
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open-Sans";
  src:
    url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */

.header {
  display: grid;
  background-color: var(--basic-yellow);
  margin: 40px 140px 500px;
  position: relative;
}

.header-logo {
  position: absolute;
  cursor: pointer;
  z-index: 5;
  top: -15px;
  left: 60px;
}

.main-links-wrapper {
  display: block;
  height: 300px;
  background-color: var(--basic-yellow);
  padding: 0 60px;
}

.overflow {
  z-index: 4;
}

.main-navigation {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.main-navigation-list {
  display: flex;
  padding: 0;
  margin-left: 299px;
}

.main-navigation form {
  display: flex;
  align-items: center;
}

.main-navigation-link {
  margin-left: 10px;
}

.main-navigation-compare {
  margin-left: 230px;
}

.main-navigation-basket {
  margin-left: 60px;
}

.search-field {
  border: none;
  background-color: var(--basic-yellow);
}

.loupe {
  margin-right: 20px;
}

.header-offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.header-offers-link {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  position: relative;
}

.header-offers-link-catalog::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--basic-yellow-for-plus);
  right: -30px;
  top: 50%;
}

.header-offers-link-catalog::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--basic-yellow-for-plus);
  right: -30px;
  top: 50%;
  transform: rotate(90deg);
}

.header-offers-list {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 180px 180px 100px;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  width: 100%;
  background-color: var(--basic-yellow);
}

.header-offers-list-hidden {
  display: none;
}

.header-offers-list-open {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 180px 180px 100px;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10px;
  width: 100%;
  background-color: var(--basic-yellow);
}


.virt {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.monopodes {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.cameras {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.braceletes {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 50px;
}

.watches {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 50px;
}

.copters {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding-left: 50px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.header-delivery {
  margin-right: 40px;
}

.header-guarantee {
  margin-right: 133px;
}

/* Main Slider Bar */

.main-slider-container {
  width: 1025px;
  background: transparent;
  position: absolute;
  z-index: 2;
  top: 186px;
  right: 50px;
}

.controls {
  position: absolute;
  bottom: 120px;
  right: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.controls label {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  margin-right: 20px;
}

.controls label::after {
  border: 1px solid var(--basic-black);
  content: " ";
  display: block;
  height: 12px;
  width: 12px;
  left: -4px;
  top: -4px;
  position: absolute;
  border-radius: 50%;
}

.controls label:hover,
#slide1:checked~.controls label:nth-of-type(1),
#slide2:checked~.controls label:nth-of-type(2),
#slide3:checked~.controls label:nth-of-type(3) {
  background-image: url(../img/radio_checked.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  display: block;
  height: 6px;
  width: 6px;
}

.slider {
  position: relative;
}

.slides {
  position: relative;
}

.slides span {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  display: block;
  position: absolute;
  top: -30px;
  right: -10px;
}

.slides svg {
  position: absolute;
  top: 20px;
  left: 495px;
}

.slides b {
  display: block;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
  position: absolute;
  right: 150px;
  top: 80px;
}

.slides p {
  display: block;
  color: var(--basic-black);
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.slides p:first-of-type {
  position: absolute;
  right: 108px;
  top: 210px;
}

.slides p:nth-of-type(2) {
  position: absolute;
  right: 68px;
  top: 240px;
}

.more-link {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  position: absolute;
  bottom: 125px;
  left: 520px;
  position: relative;
  width: 190px;
}

.more-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -33px;
  z-index: -1;
  width: 200px;
  height: 8px;
  margin-top: -5px;
  background-color: #f0c52e;
}

.more-link:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transform: translateY(-10px);
  transition: all .3s linear;
}

.slides-description {
  position: absolute;
  bottom: 10px;
  left: 485px;
}

.contain {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.contain td {
  padding-right: 60px;
  text-align: left;
}

.caption th {
  padding-right: 60px;
  text-align: left;
  padding-top: 15px;
}

.caption {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}


/* Main */

.products {
  margin-bottom: 80px;
}

.products__wrapper {
  padding: 0 160px;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;
  height: 230px;
  width: 1160px; */
}

.product-list-item {
  display: flex;
  flex-direction: column;
}

.product-list-item p {
  display: block;
  width: 135px;
  padding: 0;
  margin: 0;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  text-align: left;
}

.product-list-link {
  width: 160px;
  height: 160px;
  background: var(--basic-yellow);
  margin-bottom: 15px;
}

.virt-reality {
  background-image: url(../img/virt-reality.png);
  background-repeat: no-repeat;
  background-position: center;
}

.selfie-monopodes {
  background-image: url(../img/monopode.png);
  background-repeat: no-repeat;
  background-position: center;
}

.action-cameras {
  background-image: url(../img/action_camera.png);
  background-repeat: no-repeat;
  background-position: center;
}

.fitness-braceletes {
  background-image: url(../img/fitness_bracelet.png);
  background-repeat: no-repeat;
  background-position: center;
}

.smart-watch {
  background-image: url(../img/smart_watches.png);
  background-repeat: no-repeat;
  background-position: center;
}

.drones {
  background-image: url(../img/copter.png);
  background-repeat: no-repeat;
  background-position: center;
}

.offers-slider-container {
  background-color: var(--basic-grey);
  width: 1440px;
  padding: 0px 160px;
}

.offers-slider-container ul {
  padding: 0;
  list-style: none;
}

/* Brands List */

.trademarks__wrapper {
  padding: 0 160px;
}

.brands-list {
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 25px;
}

.brands-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 0;
  text-align: center;
}

.brands-list-link {
  width: 260px;
  height: 100px;
}

.brands-list-link-dji {
  background-image: url(../img/logo_dji_grey.png);
}

.brands-list-link-dji:hover {
  background-image: url(../img/logo_dji.png);
}

.brands-list-link-sp {
  background-image: url(../img/logo_sp_grey.png);
}

.brands-list-link-sp:hover {
  background-image: url(../img/logo_sp.png);
}

.brands-list-link-gopro {
  background-image: url(../img/logo_gopro_grey.png);
}

.brands-list-link-gopro:hover {
  background-image: url(../img/logo_gopro.png);
}

.brands-list-link-vive {
  background-image: url(../img/logo_vive_grey.png);
}

.brands-list-link-vive:hover {
  background-image: url(../img/logo_vive.png);
}

/* Info About */

.info {
  margin: 57px 0;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 475px 560px;
  grid-template-rows: min-content;
  padding: 0 160px;
  grid-column-gap: 30px;
  justify-content: space-between;
}

.info-wrapper b {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}

.info-wrapper p {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black);
}

.about {
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.about b {
  position: relative;
  margin: 0 0 35px;
  padding: 0;
  display: block;
}

.about p {
  display: block;
  margin: 0;
  padding: 0;
}

.about p:first-of-type {
  margin: 0 0 35px;
}

.about b::before {
  content: "";
  width: 80px;
  height: 7px;
  background: var(--basic-black);
  position: absolute;
  top: -50px;
  left: 0px;
}

.transport-companies {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black);
  list-style: none;
  margin-top: 66px;
  padding: 0;
}

.transport-companies li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 3px solid var(--basic-grey);
  margin-right: 20px;
  position: absolute;
  left: -40px;
  top: 10px;
}

.transport-companies li {
  margin-bottom: 15px;
  margin-left: 40px;
  position: relative;
}

.btn-about {
  display: block;
  position: relative;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.btn-about::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -18px;
  width: 250px;
  height: 8px;
  margin-top: -5px;
  background-color: var(--basic-dark-yellow);
}

.btn-about:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transform: translateY(-10px);
  transition: all .3s linear;
}


/* Info Contacts */

.contacts {
  position: relative;
}

.contacts b {
  position: relative;
  display: block;
  margin: 0 0 35px;
  padding: 0;
}

.contacts b::before {
  content: "";
  width: 80px;
  height: 7px;
  background: var(--basic-black);
  position: absolute;
  top: -50px;
  left: 0px;
}

.contacts p {
  display: block;
  padding: 0;
  margin: 0 0 45px;
}

.map {
  display: block;
  margin-bottom: 100px;
}

.btn-write {
  display: block;
  position: relative;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 22px;
}

.btn-write::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -22px;
  width: 220px;
  height: 8px;
  margin-top: -5px;
  background-color: var(--basic-dark-yellow);
}

.btn-write:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transform: translateY(-10px);
  transition: all .3s linear;
}

/* CATALOG PAGE */

.catalog-header {
  display: grid;
  background-color: var(--basic-yellow);
  margin-top: 40px;
  width: 1160px;
  margin: 40px 140px 50px;
  position: relative;
}

.catalog-page-navigation {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.catalog-page-navigation-list {
  display: flex;
  padding: 0;
  margin-left: 315px;
}

.catalog-page-navigation form {
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.catalog-page-navigation-link {
  margin-left: 10px;
}

.catalog-page-navigation-link svg {
  margin-top: 6px;
}

.catalog-page-navigation-enter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-page-navigation-enter svg {
  margin-top: 6px;
  margin-right: 15px;
}

.catalog-page-navigation-enter p {
  display: block;
  padding: 0;
  margin: 0;
}

.catalog-page-navigation-enter a {
  display: block;
  text-align: center;
  margin-left: 25px;
  padding: 0;
}

.catalog-page-navigation-compare {
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-page-navigation-compare svg {
  margin-top: 6px;
}

.catalog-page-navigation-basket {
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-page-navigation-basket svg {
  margin-top: 6px;
}

/* Breadcrumbs */

.breadcrumbs-section {
  display: grid;
  width: 1160px;
  margin: 0px 160px;
  padding-left: 40px;
}

.breadcrumbs-section b {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black);
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  padding: 0;
  margin-top: 40px;
}

.breadcrumbs li {
  margin-right: 50px;
}

.breadcrumbs-item {
  display: block;
  position: relative;
}

.breadcrumbs-item a {
  display: block;
  margin-right: 20px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  background-color: var(--basic-black);
  top: 9px;
  right: -19px;
  transform: rotate(45deg);
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 1px;
  background-color: var(--basic-black);
  top: 12px;
  right: -19px;
  transform: rotate(135deg);
}

/* Main */

.sorting-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 70px;
  background-color: var(--basic-grey);
  position: relative;
  margin-top: 40px;
}

.sorting {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: min-content;
  margin: 0;
  padding-top: 25px;
  align-items: center;
  position: absolute;
  left: 540px;
  top: 0;
}

.sorting ul {
  list-style: none;
  margin: 0;
  padding-left: 74px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.sorting-list {
  opacity: 0.3;
}

.sorting-list li:nth-of-type(2) {
  margin-left: 30px;
}

.sorting-list li:nth-of-type(3) {
  margin-left: 30px;
}

.sorting-wrap b {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  display: block;
}

.sorting-wrap-filter {
  height: 70px;
  width: 468px;
  text-align: center;
  padding-top: 25px;
  background-color: var(--basic-dark-grey-background);
  position: absolute;
  top: 0;
  left: 0;
}

.scrolling {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  margin: 0;
}

.scrolling li {
  display: block;
  margin-right: 25px;
}

/* Form and filters */

.goods-catalog {
  display: grid;
  grid-template-columns: max-content max-content;
}

.filter-wrapper {
  display: block;
  width: 468px;
  background-color: var(--basic-grey);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* range-bar */


.filter {
  margin-top: 70px;
}

.filter legend {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
  position: relative;
}

.filter legend::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
  position: absolute;
  top: -10px;
  left: 0;
}

.price-range {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 195px;
}

.range {
  display: flex;
  border: none;
  align-items: center;
  margin-top: 10px;
  width: 200px;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  color: var(--basic-black);
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  margin-bottom: 60px;
}

.range-controls {
  position: relative;
  margin-top: 30px;
}

.range-controls .scale {
  height: 2px;
  width: 200px;
  background-color: var(--basic-black);
  opacity: 0.2;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--special-green-scale);
}

.range-controls .toggle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-toggle);
  cursor: pointer;
  transform: translateY(-50%) translateX(0px);
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 130px;
}

.range p {
  display: block;
}

.range p:last-child {
  margin-left: 85px;
}

/* Filters */

.colors-filter {
  margin-left: 195px;
  margin-bottom: 60px;
}

.colors {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.colors-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
  line-height: 16px;
  padding-left: 30px;
  padding-top: 4px;
}

.colors-option {
  position: relative;
  margin: 20px 0px;
  padding: 0;
}

.colors-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
}

.colors-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 14px;
  height: 11px;
  background-image: url("../img/checkbox_on.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  display: block;
}

.bluetooth-available-filter {
  margin-left: 195px;
  margin-bottom: 60px;
}

.availability {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.availability-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
  line-height: 16px;
  padding-left: 30px;
  padding-top: 2px;
}

.availability-option {
  position: relative;
  margin: 20px 0px;
  padding: 0;
}

.availability-input-radio+label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.availability-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-image: url("../img/radio_on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  display: block;
}

.button-show {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 225px;
  position: relative;
  width: 190px;
  z-index: 1;
}

.button-show::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  z-index: -1;
  width: 190px;
  height: 8px;
  margin-top: -5px;
  background-color: #f0c52e;
}

.button-show:hover::before {
  top: 0;
  height: 40px;
  margin: 0;
  transform: translateY(-10px);
  transition: all .3s linear;
}

/* Goods catalog */

.goods {
  display: grid;
  grid-template-rows: 1fr max-content;
  margin: 50px;
}

.goods-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 380px 380px;
  grid-template-rows: 470px 470px;
  gap: 10px;
}

.goods-list-item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.goods-list-item b {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  display: block;
  margin-right: 20px;
  padding: 0;
  width: 265px;
}

.goods-list-item p {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
  display: block;
  margin-top: 10px;
  padding-top: 3px;
}

.goods-list-item img {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Pagination */

.pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  width: 750px;
  height: 70px;
  background-color: var(--basic-grey-pagination);
  align-content: center;
  margin-left: 10px;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pages {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
}

.pages-item {
  display: block;
  margin: 0px 15px;
}

.back {
  display: block;
  padding-left: 30px;
}

.forward {
  justify-self: end;
  display: block;
  padding-right: 30px;
}


/* Footer */

.main-footer {
  background-color: var(--special-black-footer);
  display: grid;
  grid-template-columns: 330px 500px 330px;
  grid-template-rows: 100px 70px 70px;
  row-gap: 10px;
  padding: 0px 140px 10px;
  width: 1440px;
}

.footer-navigation a {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-white-opacity70);
}

.main-footer p {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-white-opacity70);
}

.phone {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-white-opacity70);
}

.footer-offers-link {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-navigation {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-navigation li {
  margin-left: 35px;
}

.address {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer-catalog-list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-offers-link {
  margin: 0px 15px;
}

.phone {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.social-list {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.social-list li {
  margin: 0px 10px;
}

.htmlacademy-logo {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

/* Catalog Page Footer */

.catalog-footer {
  background-color: var(--special-black-footer);
  display: grid;
  grid-template-columns: 330px 500px 330px;
  grid-template-rows: 100px 70px 70px;
  row-gap: 10px;
  padding: 0px 140px 10px;
  width: 1440px;
}

.catalog-footer-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  width: 830px;
  justify-content: flex-end;
}

.footer-navigation-out {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.catalog-footer-navigation a {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-white-opacity70);
  display: block;
  margin-left: 20px;
}

.catalog-footer-navigation p {
  display: block;
  margin-left: 10px;
  padding: 0;
}

.catalog-footer p {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-white-opacity70);
}

.catalog-footer-navigation-compare {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin-left: 40px;
}

.catalog-footer-navigation-basket {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin-left: 40px;
}

.phone {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: var(--basic-white-opacity70);
}

.footer-offers-link {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.catalog-footer-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-navigation {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-navigation li {
  margin-left: 35px;
}

.address {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.footer-catalog-list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.footer-offers-link {
  margin: 0px 15px;
}

.phone {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.social-list {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.social-list li {
  margin: 0px 10px;
}

.htmlacademy-logo {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
